Repository http4s/http4s-jdk-http-client: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label docs PRs, Label site PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - body~=labels:.*early-semver-patch
  - status-success=Build and Test (ubuntu-latest, 2.12.15, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17)
  - status-success=Build and Test (ubuntu-latest, 3.1.1, temurin@11)
  actions:
    merge:
      method: squash
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label site PRs
  conditions:
  - files~=^site/
  actions:
    label:
      add:
      - site
      remove: []

Regenerate workflow with sbt-github-actions
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Update scala3-library to 3.1.2 in series/0.7 (#626)
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Update scala3-library to 3.1.2 in main (#625)
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

deploy: e4a5a138f905e54c5f509cb8938055db87199235
  1.x/index.html
Due: none

deploy: 3de6858af28ab5a6445c8c9ffacd44007b890164
  0.7/index.html
Due: none

Update scalafmt-core to 3.5.2 in main
  .scalafmt.conf
Due: none

Update scalafmt-core to 3.5.2 in series/0.7
  .scalafmt.conf
Due: none

Update scalafmt-core to 3.5.2 in main (#627)
  .scalafmt.conf
Due: none

Update scalafmt-core to 3.5.2 in series/0.7 (#628)
  .scalafmt.conf
Due: none

Update scodec-bits to 1.1.31 in main
  build.sbt
Due: none

Update scodec-bits to 1.1.31 in series/0.7
  build.sbt
Due: none

Update scodec-bits to 1.1.31 in main (#629)
  build.sbt
Due: none

Update scodec-bits to 1.1.31 in series/0.7 (#630)
  build.sbt
Due: none

Update scalafmt-core to 3.5.3 in main
  .scalafmt.conf
Due: none

Reformat with scalafmt 3.5.3
  core/src/main/scala/org/http4s/jdkhttpclient/package.scala
Due: Label core PRs

Update scalafmt-core to 3.5.3 in series/0.7
  .scalafmt.conf
Due: none

Update scalafmt-core to 3.5.3 in main (#631)
  .scalafmt.conf
  core/src/main/scala/org/http4s/jdkhttpclient/package.scala
Due: Label core PRs

Update scalafmt-core to 3.5.3 in series/0.7 (#632)
  .scalafmt.conf
  core/src/main/scala/org/http4s/jdkhttpclient/package.scala
Due: Label core PRs

Remove dependabot, fix README link
  .github/dependabot.yml
  README.md
Due: none

deploy: ec91d772484d57b949847135785f35a6f1c73f24
  0.7/index.html
Due: none

Update cats-effect, cats-effect-kernel, ... to 3.3.12 in main
  build.sbt
Due: none

Update cats-effect, cats-effect-kernel, ... to 3.3.12 in series/0.7
  build.sbt
Due: none

Update cats-effect, cats-effect-kernel, ... to 3.3.12 in series/0.7 (#640)
  build.sbt
Due: none

Update cats-effect, cats-effect-kernel, ... to 3.3.12 in main (#639)
  build.sbt
Due: none

deploy: bc7ae74281b8df4ab027a2226788f673476425e9
  1.x/index.html
Due: none

Use Cats Effect EC as HttpClient executor
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
Due: Label core PRs

`fromCompletableFuture` was upstreamed
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  core/src/main/scala/org/http4s/jdkhttpclient/JdkWSClient.scala
  core/src/main/scala/org/http4s/jdkhttpclient/package.scala
  core/src/test/scala/org/http4s/jdkhttpclient/CompletableFutureTerminationTest.scala
Due: Label core PRs

Fix Scala 3 compile
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
Due: Label core PRs

Formatting
  core/src/test/scala/org/http4s/jdkhttpclient/CompletableFutureTerminationTest.scala
Due: Label core PRs

Hush MiMa
  build.sbt
Due: none

Fix bincompat
  core/src/main/scala/org/http4s/jdkhttpclient/package.scala
Due: Label core PRs

Tired of fighting MiMa
  core/src/main/scala/org/http4s/jdkhttpclient/package.scala
Due: Label core PRs

Relocate comment
  build.sbt
Due: none

`fromCompletableFuture` was upstreamed (#642)
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  core/src/main/scala/org/http4s/jdkhttpclient/JdkWSClient.scala
  core/src/main/scala/org/http4s/jdkhttpclient/package.scala
  core/src/test/scala/org/http4s/jdkhttpclient/CompletableFutureTerminationTest.scala
Due: Label core PRs

deploy: 552ca36e5fce345e368ba4209e1a0191b80eb7a3
  0.7/index.html
Due: none

Demonstrate how to set executor in docs
  docs/README.md
Due: Label docs PRs

Use Cats Effect EC as `HttpClient` executor (#641)
  build.sbt
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  docs/README.md
Due: Label core PRs, Label docs PRs

deploy: 497745e7adad3eebab3dad3c6fd76696779863a2
  0.7/index.html
Due: none

deploy: 9d5887860074b24aeb8bbb21d55a8fa3912b3b71
  1.x/index.html
Due: none
