Repository http4s/http4s-jdk-http-client: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label docs PRs, Label site PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label site PRs:
  label:
    add:
    - site
    remove: []

deploy: 40f09972f5fd1baeeda14b9435b6c7b4af63bbef
  1.x/index.html
Due: none

Wait for reception of close frame, don't kill dispatcher immediately
  core/src/main/scala/org/http4s/jdkhttpclient/JdkWSClient.scala
Due: Label core PRs

Cleanup and unconditional abort
  core/src/main/scala/org/http4s/jdkhttpclient/JdkWSClient.scala
Due: Label core PRs

deploy: 243335f27e66ca0feeb28368ef1e56d2fa889c52
  1.x/index.html
Due: none

Fix deprecation
  core/src/test/scala/org/http4s/jdkhttpclient/CompletableFutureTerminationTest.scala
Due: Label core PRs

deploy: 19ea48d637ca59203e46d4358f1dfc83968b31e4
  0.9/index.html
Due: none

deploy: 777bd077c6961133a578878c29d292f650f617df
  1.x/index.html
Due: none

Update changelog for v0.9.1
  CHANGELOG.md
Due: none

deploy: 2022d971527c96c0125dc36051a32e324ad31348
  0.9/index.html
Due: none

Update changelog for v0.9.1 (#872)
  CHANGELOG.md
Due: none

deploy: f8225bfaffe777893fbc0de13a4036f13a113324
  0.9/index.html
Due: none

deploy: ae98cfdf37a95cbc6d4af244f9c494eca7834f8b
  0.9/index.html
Due: none

Add connection and request timeout options
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  core/src/test/scala/org/http4s/jdkhttpclient/RequestTimeoutSpec.scala
Due: Label core PRs

Added connection timeout to websocket client
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  core/src/main/scala/org/http4s/jdkhttpclient/JdkWSClient.scala
Due: Label core PRs

Set default `connectTimeout`
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  docs/README.md
Due: Label core PRs, Label docs PRs

Add test for request timeout
  core/src/test/scala/org/http4s/jdkhttpclient/JdkHttpClientSpec.scala
Due: Label core PRs

Unmask cancelation whin http request
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  core/src/test/scala/org/http4s/jdkhttpclient/JdkHttpClientSpec.scala
Due: Label core PRs

Similar fix for `WSClient`
  core/src/main/scala/org/http4s/jdkhttpclient/JdkWSClient.scala
  core/src/test/scala/org/http4s/jdkhttpclient/JdkWSClientSpec.scala
Due: Label core PRs

Update scaladoc for `simple`
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  core/src/main/scala/org/http4s/jdkhttpclient/JdkWSClient.scala
Due: Label core PRs

Set default `connectTimeout` in `defaultHttpClient` (#876)
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  core/src/main/scala/org/http4s/jdkhttpclient/JdkWSClient.scala
  docs/README.md
Due: Label core PRs, Label docs PRs

deploy: e778cd0d34cfe9a84d713870b1c96f49ceac863c
  0.9/index.html
Due: none

Fix cancelation in http and ws clients (#875)
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  core/src/main/scala/org/http4s/jdkhttpclient/JdkWSClient.scala
  core/src/test/scala/org/http4s/jdkhttpclient/JdkHttpClientSpec.scala
  core/src/test/scala/org/http4s/jdkhttpclient/JdkWSClientSpec.scala
Due: Label core PRs

deploy: b23cb6314d6a6199d666f279138ddd6bc3e05666
  0.9/index.html
Due: none

deploy: 999d1cd24c16f7fe151425674b67800e16640e79
  0.9/index.html
Due: none

deploy: 0b1c391a083f485f5bbb50957238fad0c1951be3
  1.x/index.html
Due: none

simplify defaultHttpClient logic a little by removing unnecessary un/rewrapping in Async
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
Due: Label core PRs

Bump to http4s M40
  build.sbt
Due: none

Fixup compile
  build.sbt
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  core/src/test/scala/org/http4s/jdkhttpclient/BodyLeakExample.scala
  core/src/test/scala/org/http4s/jdkhttpclient/CompletableFutureTerminationTest.scala
  core/src/test/scala/org/http4s/jdkhttpclient/JdkWSClientSpec.scala
Due: Label core PRs

Bump Scala 3
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

More fixing
  build.sbt
  docs/README.md
Due: Label docs PRs

woops
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Bump CE
  build.sbt
Due: none

deploy: a26c055bbfc332de4570bad90de081d43c6653a9
  0.9/index.html
Due: none

Update generated files
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Update everything
  build.sbt
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  project/build.properties
  project/plugins.sbt
Due: Label core PRs

Update everything (#1012)
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  project/build.properties
  project/plugins.sbt
Due: Label core PRs

deploy: f04034e6af0ec69d5f4e754a65ba0264c4c56e21
  0.9/index.html
Due: none

deploy: 454e11f3d3ac1e46256152e351795b9e9b4003bb
  1.x/index.html
Due: none

Manually add helium assets
  helium/site/icofont.min.css
  helium/site/laika-helium.css
  helium/site/laika-helium.js
  helium/site/landing-page.css
Due: none

And another one
  helium/site/laika-versions.js
Due: none

Path conditions:
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label site PRs: any of: ^site/
