Repository http4s/http4s-jdk-http-client: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label docs PRs, Label site PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label site PRs:
  label:
    add:
    - site
    remove: []

deploy: 0f640659905ecfe0ae91f0d8f6e6fcc4db56cab3
  1.x/index.html
Due: none

deploy: 05963ba6f3a02fad35a1b5a881631b2fba42ece3
  0.7/index.html
Due: none

deploy: beb78c39482f4646ad273038112eec48976b579e
  1.x/index.html
Due: none

deploy: b61c45de94a450aef1becd2522b7593e0ede4dc6
  1.x/index.html
Due: none

deploy: 200aff7c6ae950b303cc05950ce41e66aadd8267
  0.7/index.html
Due: none

deploy: 81ae241ec795cc2143721feccbfb9968eed2953f
  1.x/index.html
Due: none

deploy: 1836dc552f46231a37da62d0f42886c34de37dfe
  1.x/index.html
Due: none

Update ws test
  core/src/test/scala/org/http4s/jdkhttpclient/JdkWSClientSpec.scala
Due: Label core PRs

Switch to ember in docs
  docs/README.md
Due: Label docs PRs

Fix one last test
  core/src/test/scala/org/http4s/jdkhttpclient/CompletableFutureTerminationTest.scala
Due: Label core PRs

deploy: ce1e33ee3f386b882845a31bda2a1713209e5c31
  1.x/index.html
Due: none

deploy: dda46667324945503364f3d9c17a15a81f934507
  0.7/index.html
Due: none

deploy: 749a5da634b5b74cf92a0ba86628ee014326a2c4
  0.7/index.html
Due: none

deploy: d95212c90cd1aa81b221bf2b456fc5a6d3d1f77b
  1.x/index.html
Due: none

deploy: bf9e2d6d2c9916c15ab288d29f64d36cde05af65
  1.x/index.html
Due: none

Use `Dispatcher.parallel`
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  core/src/main/scala/org/http4s/jdkhttpclient/JdkWSClient.scala
Due: Label core PRs

Use `Async#executor` instead of `executionContext`
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  docs/README.md
Due: Label core PRs, Label docs PRs

No more `Dispatcher` for `JdkHttpClient`
  build.sbt
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
Due: Label core PRs

Use per-connection sequential dispatcher in `JdkWsClient`
  core/src/main/scala/org/http4s/jdkhttpclient/JdkWSClient.scala
Due: Label core PRs

Use `unsafeToCompletableFuture`
  core/src/main/scala/org/http4s/jdkhttpclient/JdkWSClient.scala
Due: Label core PRs

Tweak the naming
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  core/src/main/scala/org/http4s/jdkhttpclient/JdkWSClient.scala
Due: Label core PRs

Update tests
  core/src/test/scala/org/http4s/jdkhttpclient/BodyLeakExample.scala
  core/src/test/scala/org/http4s/jdkhttpclient/DeadlockWorkaround.scala
  core/src/test/scala/org/http4s/jdkhttpclient/JdkHttpClientSpec.scala
  core/src/test/scala/org/http4s/jdkhttpclient/JdkWSClientSpec.scala
Due: Label core PRs

Update docs
  docs/README.md
Due: Label docs PRs

Remove Java WS dep
  build.sbt
  core/src/test/scala/org/http4s/jdkhttpclient/JdkWSClientSpec.scala
Due: Label core PRs

Greet ember instead of blaze
  core/src/test/scala/org/http4s/jdkhttpclient/JdkWSClientSpec.scala
Due: Label core PRs

Migrate to ember (#645)
  build.sbt
  core/src/test/scala/org/http4s/jdkhttpclient/BodyLeakExample.scala
  core/src/test/scala/org/http4s/jdkhttpclient/CompletableFutureTerminationTest.scala
  core/src/test/scala/org/http4s/jdkhttpclient/JdkWSClientSpec.scala
  docs/README.md
Due: Label core PRs, Label docs PRs

deploy: 8ec4f0e1641186f83486afc1586d62b580af5e16
  0.7/index.html
Due: none

deploy: e5fdf47c22355f01e833821df993b722ccc11717
  1.x/index.html
Due: none

deploy: e3d5a88def42a89b0733db17ee2f0e1049c79b53
  0.7/index.html
Due: none

deploy: 5adcaaf9cf015dec849ec2f3743636dc940c2af0
  0.7/index.html
Due: none

deploy: de6d0cf388dda73cd03c669ae927db08a3f0e09c
  1.x/index.html
Due: none

deploy: 0c19b6478027b46e20b598353a249bb0909f2f09
  0.7/index.html
Due: none

deploy: 782e1383ea0e291e5b26d893de07af99c0a5fe54
  1.x/index.html
Due: none

Bump fs2
  build.sbt
Due: none

Remove "unused" dependencies
  build.sbt
Due: none

Revert "Remove "unused" dependencies"
  build.sbt
Due: none

Bump CE
  build.sbt
Due: none

Bump base version
  build.sbt
Due: none

Cleanup deprecatia
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  core/src/main/scala/org/http4s/jdkhttpclient/JdkWSClient.scala
  core/src/main/scala/org/http4s/jdkhttpclient/package.scala
  core/src/test/scala/org/http4s/jdkhttpclient/BodyLeakExample.scala
  core/src/test/scala/org/http4s/jdkhttpclient/DeadlockWorkaround.scala
  core/src/test/scala/org/http4s/jdkhttpclient/JdkHttpClientSpec.scala
  core/src/test/scala/org/http4s/jdkhttpclient/JdkWSClientSpec.scala
  docs/README.md
Due: Label core PRs, Label docs PRs

Update to Cats Effect 3.4.0 (#770)
  build.sbt
  core/src/main/scala/org/http4s/jdkhttpclient/JdkHttpClient.scala
  core/src/main/scala/org/http4s/jdkhttpclient/JdkWSClient.scala
  core/src/main/scala/org/http4s/jdkhttpclient/package.scala
  core/src/test/scala/org/http4s/jdkhttpclient/BodyLeakExample.scala
  core/src/test/scala/org/http4s/jdkhttpclient/DeadlockWorkaround.scala
  core/src/test/scala/org/http4s/jdkhttpclient/JdkHttpClientSpec.scala
  core/src/test/scala/org/http4s/jdkhttpclient/JdkWSClientSpec.scala
  docs/README.md
Due: Label core PRs, Label docs PRs

Path conditions:
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label site PRs: any of: ^site/
